*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --soft-gray: #DFDFDF;
    --dark-blue: #061627;
    --pills-blue: #1345AC;
    --text-white: #FFFFFF;
}

/* DEBUG -------------------------------------------------- */

/* REGOLE DI CSS ------------------------------------------ */
/* REGOLE GENERALI ---------------------------------------- */

.ms_bgsoftgray{
    background-color: var(--soft-gray);
}

/* HEADER ------------------------------------------------- */

header{
    height: 70px;
}

header .ms_logo{
    height: 2rem;
}

header nav .input-group input{
    font-size: 0.75rem;
}


/* MAIN --------------------------------------------------- */
main{
    height: calc(100vh - 70px);
}


/* ASIDE */

main aside{
    background-color: var(--dark-blue);
    color: var(--text-white);
    height: 100%;
    width: 70px;
}

main aside{
    background-image: url(../img/sidebar-bg.png);
}

main aside i{
    width: 1rem;
}

main aside .ms_iconlabel{
    display: none;
}

/* MAIN-CONTENT */

main .ms_main-content{
    height: 100%;
    width: calc(100% - 70px);
    font-size: 0.75rem;
}

main .offcanvas.offcanvas-end{
    width: 100%;
}

/* MAIN-TOP */

main .ms_main-top{
    color: var(--text-white);
}

main .ms_main-top .rounded-pill{
    background-color: var(--pills-blue);
}

/* MAIN-BOTTOM */

main #ms_next-groups tr th:first-child{
    width: 50%;
}

main #ms_next-groups th{
    font-weight: normal;
}

main #ms_next-groups tr th:not(:first-of-type), 
main #ms_next-groups tr td{
    text-align: center;
}

main #ms_next-groups .ms_class-avatar{
    width: 1.5rem;
}

main #ms_next-groups i{
    width: 1rem;
    height: 1rem;
}

/* ANIMAIZONI --------------------------------------------- */


/* MEDIA QUERY -------------------------------------------- */


@media screen and (min-width: 768px){

    /* MAIN-CONTENT */
}

@media screen and (min-width: 992px){
        
        /* HEADER */

        /* ASIDE */

        main aside{
            width: 150px;
        }
    
        main aside .ms_iconlabel{
            display: inline-block;
            font-size: 0.75rem;
        }

        /* MAIN-CONTENT */

        main .ms_main-content{
            width: calc(100% - 150px);
        }

        main .offcanvas.offcanvas-end{
            width: 50%;
        }
}

