*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

/* DEBUG -------------------------------------------------- */

.ms_debug header{
    background-color: red;
}

.ms_debug main{
    background-color: blueviolet;
}

.ms_debug main aside{
    background-color: darkmagenta;
}

.ms_debug main .ms_main-content{
    background-color: indianred;
}

.ms_debug .ms_box{
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px dashed green;
}

.ms_debug .ms_boxlabel{
    height: 20px;
    width: 40px;
    background-color: white;
    border: 2px dashed green;
}

.ms_debug .ms_borderdebug{
    border: 2px dotted black;
}

.ms_debug aside > div{
    border: 2px dotted black;
}

.ms_debug .ms_main-content .ms_boxlabel{
    display: inline-block;
}

.ms_debug .ms_main-bottom{
    border: dotted 3px white;
}


/* REGOLE DI CSS ------------------------------------------ */
/* REGOLE GENERALI ---------------------------------------- */


/* HEADER ------------------------------------------------- */

header{
    height: 70px;
}

header nav .ms_icon{
    display: none;
}

/* MAIN --------------------------------------------------- */
main{
    height: calc(100vh - 70px);
}


/* ASIDE */

main aside{
    height: 100%;
    width: 70px;
}

aside .ms_box{
    display: inline-block;
}

aside .ms_boxlabel{
    display: none;
}

/* MAIN-CONTENT */

main .ms_main-content{
    height: 100%;
    width: calc(100% - 70px);
}

main .ms_main-top{
    display: flex;
    flex-direction: column;
}

main .ms_main-top .ms_boxlabel.ms_regroup{
    display: inline-block;
}

main .ms_main-top .ms_boxlabel.ms_regroup-pills{
    display: none;
}

main .offcanvas.offcanvas-end{
    width: 100%;
}


/* ANIMAIZONI --------------------------------------------- */


/* MEDIA QUERY -------------------------------------------- */


@media screen and (min-width: 768px){

    /* MAIN-CONTENT */

    main .ms_main-top{
        flex-direction: row;
    }

    main .ms_main-top .ms_offcanvasbtn{
        order: 1;
    }

}

@media screen and (min-width: 992px){
        
        /* HEADER */

        header nav .ms_icon{
            display: inline-block;
            margin: 0 0.75rem;
        }
    
        /* ASIDE */

        main aside{
            width: 150px;
        }
    
        main aside .ms_boxlabel{
            display: inline-block;
        }

        /* MAIN-CONTENT */

        main .ms_main-content{
            width: calc(100% - 150px);
        }

        main .ms_main-top .ms_boxlabel.ms_regroup{
            display: none;
        }
        
        main .ms_main-top .ms_boxlabel.ms_regroup-pills{
            display: inline-block;
        }

        main .offcanvas.offcanvas-end{
            width: 50%;
        }
}
