*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --soft-gray: #DFDFDF;
    --dark-blue: #061627;
}

/* DEBUG -------------------------------------------------- */

.ms_debug header{
    /* background-color: red; */
}

.ms_debug main{
    background-color: blueviolet;
}

.ms_debug main aside{
    /* background-color: darkmagenta; */
}

.ms_debug main .ms_main-content{
    background-color: indianred;
}

.ms_debug .ms_box{
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px dashed green;
}

.ms_debug .ms_boxlabel{
    height: 20px;
    width: 40px;
    background-color: white;
    border: 2px dashed green;
}

.ms_debug .ms_borderdebug{
    border: 2px dotted black;
}

.ms_debug aside > div, 
.ms_debug aside > ul{
    border: 2px dotted black;
}

.ms_debug .ms_main-content .ms_boxlabel{
    display: inline-block;
}

.ms_debug .ms_main-bottom{
    border: dotted 3px white;
}


/* REGOLE DI CSS ------------------------------------------ */
/* REGOLE GENERALI ---------------------------------------- */

.ms_bgsoftgray{
    background-color: var(--soft-gray);
}

/* HEADER ------------------------------------------------- */

header{
    height: 70px;
}

header .ms_logo{
    height: 2rem;
}

header nav .input-group input{
    font-size: 0.75rem;
}


/* MAIN --------------------------------------------------- */
main{
    height: calc(100vh - 70px);
}


/* ASIDE */

main aside{
    background-color: var(--dark-blue);
    height: 100%;
    width: 70px;
}

main aside{
    background-image: url(../img/sidebar-bg.png);
}

main aside i{
    width: 1rem;
}

main aside .ms_iconlabel{
    display: none;
}

/* MAIN-CONTENT */

main .ms_main-content{
    height: 100%;
    width: calc(100% - 70px);
}

main .offcanvas.offcanvas-end{
    width: 100%;
}


/* ANIMAIZONI --------------------------------------------- */


/* MEDIA QUERY -------------------------------------------- */


@media screen and (min-width: 768px){

    /* MAIN-CONTENT */
}

@media screen and (min-width: 992px){
        
        /* HEADER */

        /* ASIDE */

        main aside{
            width: 150px;
        }
    
        main aside .ms_iconlabel{
            display: inline-block;
            font-size: 0.75rem;
        }

        /* MAIN-CONTENT */

        main .ms_main-content{
            width: calc(100% - 150px);
        }

        main .offcanvas.offcanvas-end{
            width: 50%;
        }
}

